.ionitem {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 12px;

  // z-index: 4;
  input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    min-height: 32px;
    padding-left: 16px;

    &[disabled] {
      opacity: .5;
    }
  }

  ion-label {
    font-size: 1.2em;
    padding-left: 20px;
    opacity: .5;
    z-index: 2;
  }

  ion-input {
    z-index: 2;
  }

  .list-autocomplete {
    position: absolute;
    background: #fff;
    top: 40px;
    left: 0;
    width: 100%;
    height: fit-content;
    z-index: 99999;
    list-style: none;
    padding: 0 16px;
    margin: 0;
    max-height: 120px;
    overflow-y: auto;
    box-shadow: 0px 6px 6px #ccc;

    li {
      margin-bottom: 4px;
      cursor: pointer;
    }
  }
}

.multiple-place {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;

  .multiple-list {
    display: flex;
    flex-wrap: wrap;

    p {
      white-space: nowrap;
      margin: 0;
      margin-left: 8px;
      padding-top: 8px;

      span {
        color: var(--ion-color-danger);
      }
    }
  }

  input {
    border: none;
    margin-top: 10px;
    background-color: #f5f5f5;
  }
}