.section-divisor {
    padding: 8px 16px;
    margin: 0;
    background-color: var(--ion-color-light-shade);
}

.section {
    padding: 8px 16px;
    .question{
        margin-bottom: 16px;
    }
    p {
        margin: 8px 0;

        &.strong {
            font-weight: bold;
        }
    }
}


@media (prefers-color-scheme: dark) {
    .section-divisor {
        background: var(--ion-color-light-tint);
        color: var(--ion-color-light-contrast);
    }

    ion-item,
    ion-input {
        --background: var(--ion-color-light);
        --color: var(--ion-color-light-contrast);
    }
}