ion-content {

    --padding-top: 32px;
    --padding-bottom: 32px;
    --padding-start: 32px;
    --padding-end: 32px;

    .form-layout {
        margin: 0 auto;

        .bottom-bar {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            padding: 32px;
            text-align: center;
            border-top: 1px solid var(--ion-color-medium);

            button {
                background: transparent;
                color: var(--ion-color-dark);
            }
        }
    }
}


.intro {
    padding-top: 5vh;

    h4 {
        font-size: 36px;
    }
}

.form-group {
    width: 100%;
    background: #fff;
    // border: 1px solid var(--ion-color-medium);
    border-radius: 8px;
    margin-bottom: 16px;

    color: var(--ion-color-medium);
    position: relative;

    i {
        font-size: 24px;

        &.start {
            position: absolute;
            top: 14px;
            left: 8px;
        }

        &.end {
            position: absolute;
            top: 14px;
            right: 8px;
        }
    }

    input {
        border: 0px solid;
        border-radius: 8px;
        padding: 16px 38px;
        font-weight: 300;
        width: 100%;
    }
}

.form-layout {
    button {
        font-weight: 500;
        margin-top: 16px;
        width: 100%;
        height: 48px;
        border-radius: 8px;

        &.btn-login {
            background: var(--ion-color-primary);
            color: var(--ion-color-primary-contrast);
        }

        &.btn-resend {
            background: var(--ion-color-light-shade);
            color: var(--ion-color-light-contrast);
        }
    }

}


@media screen and (min-width: 600px) {
    .form-layout {
        max-width: 600px;
    }
}