ion-content {
  background: var(--ion-color-light);
  --background: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;



  h4 {
    text-align: center;
    color: var(--ion-color-primary-contrast);
    font-weight: bold;
    margin: 0;
  }

  .inline {
    margin: 16px auto;
    margin-top: 15vh;
    width: 70vw;
    z-index: 10;
    text-align: center;
  }

  .logo {
    margin: 8px;
    max-width: 150px;
    transition: all .2s ease-in-out;
    opacity: 1;

    &.hide {
      margin-top: 32px;
      opacity: 0;
    }
  }

}