.tabs {
    position: relative;
    width: 100%;

    ion-button {
        width: 33%;
        height: 48px;
        color: var(--ion-color-medium)
    }

    .tab-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 33%;
        height: 2px;
        background: var(--ion-color-primary);
        transition: .2s all ease-in-out;
    }

    &.tab-1 .tab-bar {
        left: 33%;
    }

    &.tab-2 .tab-bar {
        left: 66%;
    }
}

ion-content {
    --overflow: hidden;
    overflow: hidden;
}

#slider {

    .scroll-area {
        height: calc(100vh - 56px - 72px);
        padding: 16px;
        padding-bottom: 56px;
        overflow-y: auto;
    }
}


.svg-placeholder {
    text-align: center;

    img {
        width: 100%;
        max-width: 60vw;
    }

    h3 {
        margin-top: 0;
    }

    p {
        color: var(--ion-color-medium);
        font-weight: bold;
    }
}

.card-subject {
    position: relative;
    background: var(--ion-card-primary);
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 16px;

    p {
        &.title {
            font-weight: bold;

            small {
                font-weight: initial;
                opacity: .5;
            }
        }
    }

    .progress-place {
        position: relative;
        margin: 24px 0;

        p {
            margin: 0;
        }

        .percent {
            position: absolute;
            top: 0;
            right: 16px;
        }

        ion-progress-bar {
            border-radius: 8px;
            margin: 16px 0;
            height: 12px
        }
    }

    .next-class {
        margin: 16px 0;
        background: var(--ion-card-primary-shade);
        border-radius: 16px;
        padding: 16px;

        p {
            font-weight: bold;
            text-transform: capitalize;
            color: var(--ion-color-primary);

            small {
                color: #000;
                font-weight: initial;
            }
        }
    }

    ion-button {
        width: 100%;
    }
}