.p-relative {
  padding-top: 36px;
}

ion-item {
  border-bottom: 1px solid #ccc;
}

.btn-add {
  transition: all .3s ease-in-out;
  z-index: 99999;
  position: absolute;
  right: 32px;
  top: 0px;

  i {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .page-layout {
    padding: 16px;

    .btn-add {
      top: 16px;
    }
  }
}

@media screen and (max-width: 642px) {
  .btn-add {
    position: fixed;
    border-radius: 50%;
    --border-radius: 50%;
    top: 16px;
    right: 32px;
    margin: 0;
    height: 52px;

    .text {
      display: none;
    }
  }
}

@media screen and (max-width: 478px) {
  .page-layout .page-title small {
    opacity: 0;
  }
}


ion-modal {
  &::part(content) {
    min-height: 400px;
    max-height: 80%;
  }
}

.file-place {
  border: 8px dashed #ccc;
  margin: 8px;
  overflow: hidden;
  background: #ddd;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &.i512 {
    width: 512px;
    height: 512px;
  }

  &.sm {
    width: 100px;
    height: 150px;
  }
}