<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home-responsavel">
      <i class="mdi mdi-home"></i>
      {{i18n.lang.HOME}}
    </ion-tab-button>
    <ion-tab-button tab="school-tab">
      <i class="mdi mdi-school"></i>
      {{i18n.lang.SCHOOL}}
    </ion-tab-button>
    <ion-tab-button tab="school-tab">
      <i class="mdi mdi-file-document"></i>
      {{i18n.lang.PERFORMANCE}}
    </ion-tab-button>
    <ion-tab-button tab="school-tab">
      <i class="mdi mdi-account"></i>
      {{i18n.lang.PROFILE}}
    </ion-tab-button>
    <ion-tab-button tab="settings" >
      <i class="mdi mdi-menu"></i>
      {{i18n.lang.MORE}}
    </ion-tab-button>
  </ion-tab-bar>  
</ion-tabs>