<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <i class="mdi mdi-home"></i>
      {{i18n.lang.HOME}}
    </ion-tab-button>
    <ion-tab-button tab="school">
      <i class="mdi mdi-school"></i>
      {{i18n.lang.SCHOOL}}
    </ion-tab-button>
    <ion-tab-button tab="performance">
      <i class="mdi mdi-file-document"></i>
      {{i18n.lang.PERFORMANCE}}
    </ion-tab-button>
    <!-- <ion-tab-button tab="profile">
      <i class="mdi mdi-routes"></i>
      {{i18n.lang.PROFILE}}
    </ion-tab-button> -->
    <ion-tab-button tab="you">
      <i class="mdi mdi-account"></i>
      {{i18n.lang.YOU_INFO}}
    </ion-tab-button>
  </ion-tab-bar>  
</ion-tabs>