.scroll-area {
    padding: 16px;
}

h4 {
    font-size: 16px;
    margin-bottom: 16px;
}

.list-periods {
    border-radius: 16px;
    overflow: hidden;
}

.card-period {
    position: relative;
    background: var(--ion-card-primary);
    padding: 16px;
    border-bottom: 1px solid var(--ion-color-light-shade);


    &:last-of-type {
        border-bottom: 0;
    }

    p {
        margin: 0;
        font-weight: bold;

        small {
            font-weight: initial;
            opacity: .5;
        }
    }

    i {
        position: absolute;
        right: 16px;
        top: 24px;
    }
}

ion-button {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 32px;
}

.card-section {
    margin-bottom: 16px;
    padding: 16px;
    background: var(--ion-card-primary);

    .card-title {
        font-weight: bold;
        font-size: 16px;
        border-bottom: 1px solid var(--ion-color-light-shade);
        margin-bottom: 8px;

        i.mdi {
            color: var(--ion-color-primary);
            font-size: 24px;
        }
        p{
            margin: 0 0 16px 0;
        }

        span{
            color: var(--ion-color-medium)
        }
    }
    .card-body{
        p{
            margin: 4px 0;
        }
    }
}