<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back-button" (click)="nav.navigateBack('/settings')">
        <ion-icon name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{i18n.lang.ACCOUNT_SETTINGS}}</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="section">
    <ion-item>
      <ion-input [label]="i18n.lang.EMAIL" placeholder="..." name="email" [(ngModel)]="email" readonly></ion-input>
    </ion-item>
    <ion-item class="disabled">
      <ion-select [label]="i18n.lang.TYPE" placeholder="..." interface="action-sheet" [cancelText]="i18n.lang.CANCEL"
        name="type" [(ngModel)]="type">
        <ion-select-option value="1">{{i18n.lang.BASIC}}</ion-select-option>
        <ion-select-option value="2">{{i18n.lang.PREMIUM}}</ion-select-option>
        <ion-select-option value="3">{{i18n.lang.GOD}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ul>
      <li [ngClass]="{disabled: type != 1}">
        <div class="menu-item">
          <div class="text-place">
            <p>
              <ion-icon name="ribbon-outline"></ion-icon>
              {{i18n.lang.PLAN_UPGRADE}}
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="menu-item">
          <div class="text-place">
            <p>
              <ion-icon name="cloud-download-outline"></ion-icon>
              {{i18n.lang.DOWNLOAD_DATA}}
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <p class="section-divisor">&nbsp;</p>
  <div class="section">
    <ul>
      <li>
        <div class="menu-item">
          <div class="text-place">
            <p>
              <ion-icon name="trash-outline"></ion-icon>
              {{i18n.lang.DELETE_DATA}}
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</ion-content>