ion-content {
    &::part(background) {
        background: var(--ion-color-light);
    }
}

img {
    position: absolute;
    top: calc(50vh - 162px);
    left: 0;
    right: 0;
    margin: 0 auto;
}