<ion-header [translucent]="true" class="primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back-button" (click)="nav.back()">
        <ion-icon name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{i18n.lang.NOTICE}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="p-relative content">
      <img src="/assets/svg/attention.svg" alt="attention">
    <h4>{{notice?.title}}<br><small>{{notice?.subtitle}}</small></h4>
    <p>{{notice?.text}}</p>
  </div>
</ion-content>