

.content{
    position: relative;
    padding: 16px;
    img{
        position: absolute;
        right: 16px;
        top: 32px;
        width: 44px;
        height: 44px;
    }
    h4{
        width: calc(100% - 60px);
    }
}