.top-bar {
    display: flex;
    justify-content: right;
    padding: 16px;

    .top-btns {
        display: flex;
        justify-content: right;

        button {
            margin-left: 16px;
            background: #fff;
            color: var(--ion-color-medium);
            font-size: 1.5em;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            padding: 4px;
            box-shadow: 0 0 6px var(--ion-color-medium);
        }
    }
}

.info {
    padding: 16px;
    display: flex;
    justify-content: space-between;

    .avatar-place {
        width: 72px;
        height: 72px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        box-shadow: 0 0 6px var(--ion-color-dark);
    }

    .user-info {
        width: calc(100% - 84px);

        h1 {
            font-size: 1.2em;
            font-weight: 700;
            margin: 0;

            small {
                font-size: .8em;
                font-weight: 400;
                color: var(--ion-color-medium);
            }
        }
    }
}

.tabs {
    position: relative;
    width: 100%;
    border-bottom: 1px solid var(--ion-color-medium);

    ion-button {
        width: 50%;
        height: 48px;
        color: var(--ion-color-medium)
    }

    .tab-bar {
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 50%;
        height: 3px;
        background: var(--ion-color-primary);
        transition: .2s all ease-in-out;
    }

    &.tab-1 .tab-bar {
        left: 50%;
    }

}

.events-filter{
    h4{
        span{
            text-transform: uppercase;
        }
    }
}
.card-event {
    margin-bottom: 16px;
    background-color: 1px solid var(--ion-color-light);
    border-radius: 16px;
    box-shadow: 0 0 36px var(--ion-color-light-shade);
    border: 1px solid var(--ion-color-medium);

    .img-place {
        width: 96px;
        height: auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 16px 0 0 16px;
    }

    .event-info {
        width: calc(100% - 108px);
        padding: 8px;
        padding-left: 0;
        text-align: center;

        p {
            text-align: left;
            margin: 0;

            &.title {
                font-weight: bold;
            }
        }

        button {
            width: 50%;
            padding: 4px 16px;
            margin: 8px auto;
            text-align: center;
        }
    }
}

.results {
    padding-top: 16px;

    .card-subscription {
        padding: 16px;
        margin-bottom: 16px;
        background-color: 1px solid var(--ion-color-light);
        border-radius: 16px;
        box-shadow: 0 0 24px var(--ion-color-light-shade);
        // border: 1px solid var(--ion-color-medium);

        p {
            margin: 0;
            font-weight: bold;

            small {
                font-weight: 500;

                span {
                    float: right;
                }
            }
        }

    }
}

.events-filter {
    padding: 0 16px;
}

.inline {
    display: flex;
    justify-content: space-between;

    .nav-btns {
        padding: 12px 0;

        button {
            width: 32px;
            height: 32px;
            margin-left: 8px;
            background: none;
            border-radius: 4px;
            border: 1px solid var(--ion-color-medium);
            color: var(--ion-color-medium);

            i {
                font-size: 1.5em;
            }
        }
    }
}

#slider {
    height: calc(100vh - 240px - 32px);

    .scroll-area {
        height: calc(100vh - 250px - 32px);
        padding: 0 16px;
        border: none;
        padding-bottom: 56px;
        overflow-y: auto;
    }
}

.month-modal {
    position: fixed;
    bottom: -100vh;
    left: 0;
    right: 0;
    width: 100%;
    height: 200px;
    transition: all .4s ease-in-out;

    &.in {
        bottom: 0;
    }

    ion-datetime {
        max-width: initial;
        box-shadow: 0px -5px 6px #ccc;
    }
}


@media (prefers-color-scheme: dark) {
    .top-bar .top-btns {
        button {
            background: transparent;
        }
    }
}