<ion-content [fullscreen]="true">
  <div class="top-bar">
    <div class="top-btns">
      <button routerLink="/notifications"><i class="mdi mdi-bell"></i></button>
      <button routerLink="/settings"><i class="mdi mdi-cog"></i></button>
    </div>
  </div>
  <div class="info inline" routerLink="/settings/profile">
    <div class="avatar-place" [ngStyle]="{'background-image': 'url('+person?.avatar?.url+')'}"></div>
    <div class="user-info">
      <h1>{{person?.short_name}}<br *ngIf="person?.club">
        <small *ngIf="person?.club">{{person?.club?.name}}</small><br>
        <small class="location">{{person?.location_str}}</small>
      </h1>
    </div>
  </div>
  <ion-buttons class="tabs tab-{{curr_slide}}">
    <ion-button (click)="setSlide(0)" [ngClass]="{active: curr_slide == 0}">{{i18n.lang.CALENDAR}}</ion-button>
    <ion-button (click)="setSlide(1)" [ngClass]="{active: curr_slide == 1}">{{i18n.lang.MY_SUBSCRIPTIONS}}</ion-button>
    <div class="tab-bar"></div>
  </ion-buttons>
  <div id="slider">
    <swiper-container #swiper (swiperslidechange)="setCurrSlide()">
      <swiper-slide>
        <div class="events-filter inline">
          <h4>{{i18n.lang.EVENTS}} <span>({{filter.month | date: 'MMM/YYYY'}})</span></h4>
          <div class="inline nav-btns">
            <button (click)="toggleSelectMonth()"><i class="mdi mdi-calendar-multiple"></i></button>
            <button (click)="prevMonth()"><i class="mdi mdi-arrow-left"></i></button>
            <button (click)="nextMonth()"><i class="mdi mdi-arrow-right"></i></button>
          </div>
        </div>
        <div class="scroll-area">
          <ng-template ngFor let-it [ngForOf]="arr_events">
            <div class="card-event inline"  routerLink="/event-detail/{{it._id}}">
              <div class="img-place" [ngStyle]="{'background-image': 'url('+it.img+')'}"></div>
              <div class="event-info">
                <p class="title">{{it.name}}</p>
                <p>{{it.location}}</p>
                <p>{{it.dt_start | date}}</p>
                <button class="btn btn-primary">{{i18n.lang.SEE_MORE}}</button>
              </div>
            </div>
          </ng-template>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="scroll-area">
          <div class="results">
            <ng-template ngFor let-it [ngForOf]="arr_subscriptions">
              <div class="card-subscription" routerLink="/subscription-detail/{{it._id}}">
                <p>{{it.event?.name}}<br>
                  <small>{{it.event?.dt_start | date}}</small><br>
                  <small>{{it.category}}
                    <span class="status">{{ it.status == 'OK' ? (it.pos+'&ordm;' + (it.TotalRunners? '/'+it.TotalRunners: '')) :
                      (it.status | status) }}</span>
                  </small>
                </p>
              </div>
            </ng-template>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>

<div class="month-modal" [ngClass]="{in:month_select}">
  <ion-datetime id="select-month" presentation="month-year" (ionChange)="setMonth($event)"></ion-datetime>
</div>