ion-content {
    --offset-bottom: auto !important;
    --overflow: auto;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        background: var(--ion-color-light);
    }

    &::-webkit-scrollbar-track:hover {
        background: var(--ion-color-light-shade);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--ion-color-medium);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--ion-color-primary)
    }

    .inner-scroll {
        scrollbar-width: thin;
    }
}

.card {
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        background: var(--ion-color-light);
    }

    &::-webkit-scrollbar-track:hover {
        background: var(--ion-color-light-shade);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--ion-color-medium);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--ion-color-primary)
    }

    .inner-scroll {
        scrollbar-width: thin;
    }
}
