#audio-player {
    display: none;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--ion-color-dark);
    opacity: 0;
    transition: opacity .1s ease-in-out;
    pointer-events: none;
    text-align: center;

    img {
        max-width: 200px;
        width: 80vw;
        height: auto;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &.in {
        pointer-events: initial;
        opacity: .7;
    }
}