.page-layout {
  max-width: 1340px;
}

.avatar-place {
  margin: 32px auto;
  max-width: 200px;
  max-height: 200px;

  img {
    border-radius: 50%;
    border: 2px solid;
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
  }

  p {
    text-align: center;
    margin: 0;
    opacity: .5;
  }
}

ion-accordion-group {
  margin-top: 32px;
}

h5 {
  margin-left: 0px;
}

@media screen and (max-width: 768px) {

  .tabs {

    .tabs-btns {
      max-width: 100vh;
      overflow-x: auto;
      display: flex;
      flex-wrap: nowrap;
      min-width: max-content;
    }
  }

  .avatar-place {
    max-width: 150px;
    max-height: 150px;

    img {
      width: 150px;
      height: 150px;
      max-width: 150px;
      max-height: 150px;
    }
  }

  .btn-add {
    position: fixed;
    bottom: 16px;
    top: auto;
    font-size: 1.5em;
    width: 72px;
    height: 72px;
  }
}