<ion-content [fullscreen]="true">
  <div class="page-layout">
    <h3 class="page-title">Ficha Individual<br>
      <small>Dados pessoais e profissionais do militar</small>
    </h3>

    <div class="tabs hide-mobile">
      <div class="tabs-btns">
        <button [ngClass]="{active: tab == 'personal'}" (click)="setTab('personal')">
          <i class="mdi mdi-account"></i> Dados Pessoais
        </button>
        <button [ngClass]="{active: tab == 'documents'}" (click)="setTab('documents')">
          <i class="mdi mdi-numeric"></i> Documentação
        </button>
      </div>
      <div class="tabs-place">
        <div class="card" [ngClass]="{hidden: tab != 'personal'}">
          <app-crh-personal-form [_id]="_id" *ngIf="_id" [edit]="1"></app-crh-personal-form>
        </div>
        <div class="card" [ngClass]="{hidden: tab != 'documents'}">
          <app-crh-documents-form [_id]="_id" *ngIf="_id" [edit]="1"></app-crh-documents-form>
        </div>
      </div>
    </div>

    <ion-accordion-group class="hide-desktop">
      <ion-accordion value="personal">
        <ion-item slot="header" color="light">
          <ion-label class="group-title">
            <i class="mdi mdi-account"></i> Dados Pessoais</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <app-crh-personal-form [_id]="_id" *ngIf="_id" [edit]="1"></app-crh-personal-form>
        </div>
      </ion-accordion>

      <ion-accordion value="documents">
        <ion-item slot="header" color="light">
          <ion-label class="group-title">
            <i class="mdi mdi-numeric"></i> Documentação
          </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <app-crh-documents-form [_id]="_id" *ngIf="_id" [edit]="1"></app-crh-documents-form>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>