<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back-button" (click)="nav.navigateBack('/settings')">
        <ion-icon name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{i18n.lang.SETTINGS_PROFILE}}</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <p class="section-divisor">{{i18n.lang.PERSONAL_DATA}}</p>
  <div class="section">
    <ion-item>
      <ion-input [label]="i18n.lang.NAME" placeholder="..." name="name" [(ngModel)]="name"
        (change)="saveCfg('first_name')"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [label]="i18n.lang.SHORT_NAME" placeholder="..." name="short_name" [(ngModel)]="short_name"
        (change)="saveCfg('short_name')"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-input [label]="i18n.lang.NUM_CBO" placeholder="..." name="num_cbo" [(ngModel)]="num_cbo"
        (change)="saveCfg('num_cbo')"></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-input [label]="i18n.lang.BIRTH_DATE" placeholder="..." type="date" name="birth_date" [(ngModel)]="birth_date"
        (change)="saveCfg('birth_date')" class="t-right"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select [label]="i18n.lang.GENDER" placeholder="..." interface="action-sheet" [cancelText]="i18n.lang.CANCEL"
        name="gender" [(ngModel)]="gender" (ionChange)="saveCfg('gender')">
        <ion-select-option value="M">{{i18n.lang.GENDER_M}}</ion-select-option>
        <ion-select-option value="F">{{i18n.lang.GENDER_F}}</ion-select-option>
        <ion-select-option value="UN">{{i18n.lang.GENDER_UNK}}</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- <ion-item>
      <ion-select [label]="i18n.lang.WEIGHT" placeholder="..." interface="action-sheet" [cancelText]="i18n.lang.CANCEL"
        name="weight" [(ngModel)]="weight" (ionChange)="saveCfg('weight')" placeholder="00 kg">
        <ng-template ngFor let-it [ngForOf]="weight_list">
          <ion-select-option [value]="it">{{it}} kg</ion-select-option>
        </ng-template>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select [label]="i18n.lang.HEIGHT" placeholder="..." interface="action-sheet" [cancelText]="i18n.lang.CANCEL"
        name="height" [(ngModel)]="height" (ionChange)="saveCfg('height')" placeholder="000 cm">
        <ng-template ngFor let-it [ngForOf]="height_list">
          <ion-select-option [value]="it">{{it}} cm</ion-select-option>
        </ng-template>
      </ion-select>
    </ion-item> -->
  </div>
  <p class="section-divisor">{{i18n.lang.FILIATION_DATA}}</p>
  <div class="section">
    <ion-item>
      <ion-select [label]="i18n.lang.CONFEDERATION" placeholder="..." interface="action-sheet"
        [cancelText]="i18n.lang.CANCEL" name="_confederation" [(ngModel)]="_confederation"
        (ionChange)="saveCfg('_confederation')">
        <ng-template ngFor let-it [ngForOf]="list_confederations">
          <ion-select-option [value]="it._id">{{it.slug}}</ion-select-option>
        </ng-template>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select [label]="i18n.lang.FEDERATION" placeholder="..." interface="action-sheet"
        [cancelText]="i18n.lang.CANCEL" name="_federation" [(ngModel)]="_federation"
        (ionChange)="saveCfg('_federation')">
        <ng-template ngFor let-it [ngForOf]="list_federations_filter">
          <ion-select-option [value]="it._id">{{it.slug}}</ion-select-option>
        </ng-template>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select [label]="i18n.lang.CLUB" placeholder="..." interface="action-sheet" [cancelText]="i18n.lang.CANCEL"
        name="_club" [(ngModel)]="_club" (ionChange)="saveCfg('_club')">
        <ng-template ngFor let-it [ngForOf]="list_clubs_filter">
          <ion-select-option [value]="it._id">{{it.slug}}</ion-select-option>
        </ng-template>
      </ion-select>
    </ion-item>
  </div>
  <p class="section-divisor">{{i18n.lang.CONTACT_DATA}}</p>
  <div class="section">
    <ion-item>
      <ion-input [label]="i18n.lang.EMAIL" placeholder="..." name="email" [(ngModel)]="email"
        (change)="saveCfg('email')"></ion-input>
    </ion-item>
    <ion-item>
      <label for="">{{i18n.lang.PHONE}}</label>
      <input placeholder="..." name="phone" [(ngModel)]="phone" (change)="saveCfg('phone')"
        data-mask="cellphone_with_ddd">
    </ion-item>
  </div>
  <p class="section-divisor">{{i18n.lang.ADITIONAL_DATA}}</p>
  <div class="section">
    <ion-item>
      <ion-select [label]="i18n.lang.COUNTRY" placeholder="..." interface="action-sheet" [cancelText]="i18n.lang.CANCEL"
        name="city" [(ngModel)]="country" (ionChange)="saveCfg('country')">
        <ion-select-option value="BRA">{{i18n.lang.BRAZIL}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select [label]="i18n.lang.STATE" placeholder="..." interface="action-sheet" [cancelText]="i18n.lang.CANCEL"
        name="state" [(ngModel)]="state" (ionChange)="setEstado()" [disabled]="!country">
        <ng-template ngFor let-it [ngForOf]="list_estados">
          <ion-select-option [value]="it.sigla">{{it.nome}}</ion-select-option>
        </ng-template>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select [label]="i18n.lang.CITY" placeholder="..." interface="action-sheet" [cancelText]="i18n.lang.CANCEL"
        name="city" [(ngModel)]="city" (ionChange)="saveCfg('city')" [disabled]="!state">
        <ng-template ngFor let-it [ngForOf]="list_cidades">
          <ion-select-option [value]="it">{{it}}</ion-select-option>
        </ng-template>
      </ion-select>
    </ion-item>
  </div>
  <p class="section-divisor">{{i18n.lang.USER_PREFERENCES}}</p>
  <div class="section">
    <ion-item>
      <ion-select [label]="i18n.lang.LANGUAGE" placeholder="..." interface="action-sheet"
        [cancelText]="i18n.lang.CANCEL" name="language" [(ngModel)]="language" (ionChange)="saveCfg('language')">
        <ion-select-option value="PT-BR">{{i18n.lang.LANG_PORTUGUESE}}</ion-select-option>
        <ion-select-option value="EN">{{i18n.lang.LANG_ENGLISH}}</ion-select-option>
        <ion-select-option value="ES">{{i18n.lang.LANG_SPANISH}}</ion-select-option>
        <ion-select-option value="FR">{{i18n.lang.LANG_FRENCH}}</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- <ion-item>
      <ion-select [label]="i18n.lang.FIRST_DAY_WEEK" placeholder="..." interface="action-sheet"
        [cancelText]="i18n.lang.CANCEL" name="first_day_week" [(ngModel)]="first_day_week"
        (ionChange)="saveCfg('first_day_week')">
        <ion-select-option value="0">{{i18n.lang.SUNDAY}}</ion-select-option>
        <ion-select-option value="1">{{i18n.lang.MONDAY}}</ion-select-option>
        <ion-select-option value="2">{{i18n.lang.TUESDAY}}</ion-select-option>
        <ion-select-option value="3">{{i18n.lang.WEDNESDAY}}</ion-select-option>
        <ion-select-option value="4">{{i18n.lang.THURSDAY}}</ion-select-option>
        <ion-select-option value="5">{{i18n.lang.FRIDAY}}</ion-select-option>
        <ion-select-option value="6">{{i18n.lang.SATURDAY}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select [label]="i18n.lang.UNITY_DISTANCE" placeholder="..." interface="action-sheet"
        [cancelText]="i18n.lang.CANCEL" name="settings.unity_dist" [(ngModel)]="unity_dist"
        (ionChange)="saveCfg('unity_dist')">
        <ion-select-option value="km">km - {{i18n.lang.UNITY_KM}}</ion-select-option>
        <ion-select-option value="mi">mi - {{i18n.lang.UNITY_MI}}</ion-select-option>
      </ion-select>
    </ion-item> -->
  </div>
</ion-content>