.section-divisor {
    padding: 16px;
    // padding-left: 16px;
    margin: 0;
}

.section {
    ion-item {
        --border-color: transparent;

        ion-label {
            font-size: .9em;
        }

        ion-input,
        ion-select {
            text-align: right;
        }

        input {
            background: transparent;
            border: none;
            text-align: right;
            width: 100%;
        }

        &.disabled {
            pointer-events: none;
        }
    }
}


@media (prefers-color-scheme: dark) {
    .section-divisor {
        background: var(--ion-color-light-tint);
        color: var(--ion-color-light-contrast);
    }

    ion-item,
    ion-input {
        --background: var(--ion-color-light);
        --color: var(--ion-color-light-contrast);
    }
}