<ion-content [fullscreen]="true">
  <div class="page-layout">
    <h3 class="page-title">{{i18n.lang.USERS}}<br>
      <small>{{i18n.lang.USERS_REGISTEREDS}}</small>
    </h3>
    <div class="content">
      <div class="card">
        <div class="card-body">
          <data-table *ngIf="tableInfo" [tableInfo]="tableInfo" [reload]="reloadTable"
            (clickEvent)="handleTable($event)"></data-table>
        </div>
      </div>
    </div>
  </div>
</ion-content>


<ion-modal id="usermodal" #modalUser trigger="user-modal" class="roles">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="closeModal()">{{i18n.lang.CANCEL}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form #UserForm="ngForm" novalidate>
        <input type="hidden" name="_id" ngModel #_id="ngModel">
        <h4>{{user?.str_nomecurto}}</h4>
        <app-autocomplete [data]="filt_roles" [ionlabel]="i18n.lang.SEARCH_ROLE + '*'" [label]="'_id'" [_id]="'_id'"
          (chooseEvent)="addRoleUser($event)" [clear]="clearEvent">
        </app-autocomplete>
        <div class="section">
          <h4 class="section-title">{{i18n.lang.ROLES_AVAILABLE}}</h4>
          <div class="section-body">
            <table class="table dataTable">
              <thead>
                <tr>
                  <th>{{i18n.lang.ROLE}}</th>
                  <th>{{i18n.lang.REMOVE}}</th>
                </tr>
              </thead>
              <tbody>
                <ng-template ngFor let-it [ngForOf]="user_roles">
                  <tr>
                    <td>{{it}}</td>
                    <td class="td-actions">
                      <button class="btn btn-danger" (click)="rmUserRole(it)"><i class="mdi mdi-close"></i></button>
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>