ion-content {

    --padding-top: 32px;
    --padding-bottom: 32px;
    --padding-start: 32px;
    --padding-end: 32px;

    .form-layout {
        margin: 0 auto;

    }
}

.card {
    margin-top: 5vh;
    background: #fff;
    padding: 16px;
    border-radius: 16px;
    text-align: center;

    .intro {

        h4 {
            font-size: 24px;

            small {
                font-weight: 300;
                color: var(--ion-color-medium);
            }
        }
    }

    .phone-display {
        font-weight: 700;
        color: var(--ion-color-medium);
    }


    .inline {
        display: flex;
        justify-content: space-between;
    }

    .form-group {
        width: calc(25% - 16px);
        background: #fff;
        border: 1px solid var(--ion-color-medium);
        border-radius: 8px;
        margin-bottom: 16px;

        color: var(--ion-color-medium);
        position: relative;

        i {
            font-size: 24px;

            &.start {
                position: absolute;
                top: 14px;
                left: 8px;
            }

            &.end {
                position: absolute;
                top: 14px;
                right: 8px;
            }
        }

        input {
            border: 0px solid;
            border-radius: 8px;
            padding: 16px;
            font-weight: 300;
            width: 100%;
        }
    }

    button {
        font-weight: 500;
        margin-top: 16px;
        width: 100%;
        height: 48px;
        border-radius: 8px;
    }

    .btn-login {
        background: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
    }

    .btn-resend {
        background: var(--ion-color-light-shade);
        color: var(--ion-color-light-contrast);
    }

}

@media screen and (min-width: 600px) {
    .form-layout {
        max-width: 600px;
    }
}


@media (prefers-color-scheme: dark) {
    .card{
        border: 1px solid var(--ion-color-medium);
        background: var(--ion-color-light);
        color: var(--ion-color-medium);
    }
    .btn-resend{
        border: 1px solid var(--ion-color-medium);
    }
    .back-btn {
        background: transparent;
        color: var(--ion-color-medium);
    }
}
