<ion-content [fullscreen]="true">
  <button class="btn back-btn" (click)="nav.back()"><i class="mdi mdi-arrow-left"></i></button>
  <div class="form-layout">
    <div class="intro">
      <h4>{{i18n.lang.ENTER_EMAIL}}</h4>
    </div>
    <form #EmailAskForm="ngForm" novalidate>
      <div class="form-group">
        <input type="email" [placeholder]="i18n.lang.EMAIL" name="email" ngModel #email="ngModel" required />
      </div>
    </form>
    <ion-button color="primary" class="btn-login" [disabled]="(loading || !EmailAskForm.valid)"
      (click)="verify()">{{i18n.lang.VERIFY}}</ion-button>

  </div>

</ion-content>