ion-content {

    --padding-top: 32px;
    --padding-bottom: 32px;
    --padding-start: 32px;
    --padding-end: 32px;

    .form-layout {
        margin: 0 auto;

    }
}

.intro {
    padding-top: 5vh;

    h4 {
        font-size: 36px;
    }
}


.inline{
    display: flex;
    justify-content: space-between;
    >:first-child{
        width: 25%;
    }
    >:last-child{
        width: calc(75% - 16px);
    }
}

.form-group {
    width: 100%;
    background: #fff;
    border: 1px solid var(--ion-color-medium);
    border-radius: 8px;
    margin-bottom: 16px;

    color: var(--ion-color-medium);
    position: relative;

    i {
        font-size: 24px;

        &.start {
            position: absolute;
            top: 14px;
            left: 8px;
        }

        &.end {
            position: absolute;
            top: 14px;
            right: 8px;
        }
    }

    input {
        border: 0px solid;
        border-radius: 8px;
        padding: 16px ;
        font-weight: 300;
        width: 100%;
    }
}

.btn-login {
    margin-top: 16px;
    width: 100%;
    height: 48px;
}


@media screen and (min-width: 600px) {
    .form-layout {
        max-width: 600px;
    }
}

