.floating-buttons {
  z-index: 9999;

  .container {
    position: relative;

    .actions {
      pointer-events: none;

      &.active {
        pointer-events: initial;
      }
    }
  }

  button {
    position: absolute;
    bottom: 8px;
    right: 8px;
    border-radius: 50%;
    --border-radius: 50%;
    width: 48px;
    height: 48px;
    transition: all 0.2s ease-in-out;
    z-index: 99;
    padding: 12px;
    overflow: visible;
    --overflow: visible;

    &.toggle {
      bottom: 8px;
      right: 8px;
      background-color: var(--ion-color-primary);
      color: var(--ion-color-primary-contrast);

      i {
        position: absolute;
        top: 8px;
        left: 0;
        right: 0;
      }
    }

    span {
      position: absolute;
      top: 17px;
      right: 56px;
      white-space: nowrap;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      background: var(--ion-color-light);
      color: var(--ion-color-light-contrast);
      font-size: .8em;
      padding: 2px 4px;

      &.show {
        opacity: 1;
      }
    }

    i {
      transition: all 0.4s ease-in-out;
      fill: var(--ion-white);
      font-size: 26px;

      &.hide {
        opacity: 0;
        transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
      }
    }

    &.disabled {
      filter: grayscale(1) brightness(2.5);
    }


    &.btn-light {
      background-color: var(--ion-color-light);
      color: var(--ion-color-light-contrast);
    }

    &.btn-warning {
      background-color: var(--ion-color-warning);
      color: var(--ion-color-warning-contrast);
    }

    &.btn-success {
      background-color: var(--ion-color-success);
      color: var(--ion-color-success-contrast);
    }

    &.btn-info {
      background-color: var(--ion-color-info);
      color: var(--ion-color-info-contrast);
    }

    &.btn-primary {
      background-color: var(--ion-color-primary);
      color: var(--ion-color-primary-contrast);
    }

    &.btn-secondary {
      background-color: var(--ion-color-secondary);
      color: var(--ion-color-secondary-contrast);
    }

    &.btn-tertiary {
      background-color: var(--ion-color-tertiary);
      color: var(--ion-color-tertiary-contrast);
    }

  }
}