<div class="floating-buttons">
  <ng-template ngFor let-b [ngForOf]="buttons" let-i="index">
    <button class="actions btn-{{b.color}} {{b.class}} {{b.action}} "
      [ngClass]="{ 'active': !b.hide, 'hidden': b.hide, 'disabled': b.disabled}"
      [ngStyle]="{bottom: b.bottom, right: b.right}" (click)="clickEvent(b)">
      <i class="mdi {{b.icon}}"></i>
      <img src="{{b.img}}" />
      <span [ngClass]="{show: open}">{{b.label}}</span>
    </button>
  </ng-template>
  <button class="toggle" color="medium" (click)="toggleOpen()" [ngClass]="{'hidden': !toggle}">
    <i class="mdi mdi-dots-vertical" [ngClass]="{ 'hide': open}"></i>
    <i class="mdi mdi-dots-horizontal" [ngClass]="{ 'hide': !open}"></i>
  </button>
</div>