ion-content {

    --padding-top: 32px;
    --padding-bottom: 32px;
    --padding-start: 32px;
    --padding-end: 32px;

    .form-layout {
        margin: 0 auto;

    }
}

.intro {
    padding-top: 5vh;
    margin-bottom: 32px;
    h4 {
        font-size: 36px;
    }
}


.option-group {
    width: 100%;
    position: relative;
    background-color: #fff;
    color: #000;
    padding: 16px;
    padding-left: 66px;
    margin-bottom: 24px;
    border-radius: 16px;
    box-shadow:  0 0 36px var(--ion-color-light-shade);

    i {
        position: absolute;
        top: 18px;
        left: 12px;
        width: 42px;
        height: 42px;
        font-size: 1.5em;
        background-color: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
        border-radius: 50%;
        padding: 7px;
        text-align: center;
    }

    h4 {
        margin: 0;
        small{
            font-weight: 400;
            color: var(--ion-color-medium)
        }
    }
}

@media screen and (min-width: 600px) {
    .form-layout {
        max-width: 600px;
    }
}